GITHUB_OWNER=your-github-username
IMAGE_TAG=latest
DOMAIN=example.com
ACME_EMAIL=you@example.com
MONGO_ROOT_USERNAME=poi_admin
MONGO_ROOT_PASSWORD=change-me
MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=change-me
